/DataAdapter.xml
/asuntoOlvidoSuContrasenia.txt
/asuntoRegistracion.txt
/com/
/cuerpoOlvidoSuContrasenia.txt
/cuerpoRegistracion.txt
/hibernate.cfg.xml
/log4j.properties
/tpg.properties
/tpgnew.properties
/tpgr .properties
