/DataAdapter.xml
/asuntoOlvidoSuContrasenia.txt
/asuntoRegistracion.txt
/com/
/cuerpoOlvidoSuContrasenia.txt
/cuerpoRegistracion.txt
/hibernate.cfg.xml
/log4j.properties
/tpg - copia (2).properties
/tpg - copia.properties
/tpg.properties
