
.logo {
	width: 160px;
	height: 26px;
	padding: 10px;
}

.campoIzq {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #666600;
	border: 1px solid #999966; 
}

.botonBus{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666600;
	border: 0px;
	background-image: url(/refipass/img/busquedaEnd.gif);	
	height: 18px;
	width: 18px;
	text-align: center;
	padding-left: 17px;
}

.cpo8-Var20 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
	width: 20%;
	
}

botonNuevo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666600;
	border: 0px;
	background-image: url(/refipass/img/icono_detalle.gif);	
	height: 18px;
	width: 18px;
	text-align: center;
	padding-left: 17px;
}

.cpo11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
}


.cpo11-15{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	width: 15%;	
}

.cpo11-15Top{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	width: 15%;	
	vertical-align: top;
}



.cpo11-25 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	width: 25%
}
.cpo11-50 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	width: 50%
}
.cpo11-75 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	width: 75%
}


.cpo7n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;	
}

.cpo8n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;	
	color: #000;
}

.cpo8nVerde {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;	
	color: #668535;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #A7CB38;
}
bordebeige {
	border: 1px solid #D6D7C8;
}

.bordebeige {
	border: 1px solid #b2bfd9;
}

.bordeblanco {
	border: 1px solid #FFFFFF;
}


.footerTabla {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	
	background-color: #eeeeee;
	text-transform: uppercase;
	text-align: right;
}

.datos25 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #003366;
	background-color: #E9ECF1;
	width: 25%;
	
}

.datos75 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #003366;
	background-color: #E9ECF1;
	width: 75%;
	
}



.fila3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;	
}

.linkhome {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	vertical-align: middle;
}

.linkOperacion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	vertical-align: middle;
}

.titulo01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 13pt;
	color: #003366;
}

.error {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: red;
	text-align: left;
}



.dato {
	color: #000;
	
}



.datoNegrita {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: bold;
	font-size: 8pt;
}

.linksHeaderTabla {
	text-align: right;
}

.iconito {
	width: 30px;
}

.columnaTablaLink{
	text-align: center;
	width: 350px;
}

.columnaTablaLink2{
	text-align: center;
}

.columnaTablaTexto {
	text-align: left;
}

.columnaTablaNumero {
	text-align: right;
	
}

.columnaTablaNumeroFijo {
	text-align: right;
	width: 150px;
	
}




.columnaTablaNumeroFijo100 {
	text-align: right;
	width: 100px;
	
}


.columnaTablaTextoFijo {
	text-align: left;
	width: 110px;
	
}

.columnaTablaCentradaFijo {
	text-align: center;
	width: 150px;
}


.columnaTablaCentradaFijo1 {
	text-align: left;
	width: 310px;
}


.columnaTablaCentradaFijo2 {
	text-align: left;
	width: 120px;
}

.columnaTablaCentradaFijo21 {
	text-align: center;
	width: 100px;
}

.columnaTablaCentradaFijo3 {
	text-align: left;
	width: 210px;
}

.columnaTablaCentradaFijo4 {
	text-align: right;
	width: 100px;
}

.columnaTablaCentrada {
	text-align: center;
}

.columnaTablaCentradaYArriba{
	text-align: center;
	vertical-align: top;
	
	
	
}

.datoObligatorio {
	font-family: Arial, Helvetica, sans-serif;
	color: #A8CE38;
	font-size: 9px;
}

.filaTablaCabecera {
	height: 20px;
	font-size: 9px;
	text-align: left;
}

.celdaBoton {
	width: 97px;
}

.celdaPuntos {
	background-image: url(/refipass/img/punto_azul.gif);
}


.cpo8-azul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #668535;
	vertical-align: middle;	
}

.cpo8-bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #FFFFFF;
	font-weight: bold;
}


.linkhome-a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	vertical-align: middle;
}

.linkhome-b{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #006699;
	vertical-align: bottom;
}

.linkhome-center{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #006699;
	vertical-align: middle;
	text-align: center;
}

.linkDeshabilitado{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #f2f4f7;
	vertical-align: middle;
}

.botonPaginado {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;	
	background-image: url(/refipass/img/fondo_boton_paginado.gif);	
	text-align: center;	
	width: 21px;
	height: 19px;
	border: 1px;
}

.botonPaginadoPrimero {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;	
	background-image: url(/refipass/img/boton_inicio.gif);	
	text-align: center;	
	width: 18px;
	height: 17px;
	border: 0px none;
}

.botonPaginadoAnterior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;	
	background-image: url(/refipass/img/boton_anterior.gif);	
	text-align: center;	
	width: 18px;
	height: 17px;
	border: 0px none;
}

.botonPaginadoSiguiente {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;	
	background-image: url(/refipass/img/boton_siguiente.gif);	
	text-align: center;	
	width: 18px;
	height: 17px;
	border: 0px none;
}
.botonPaginadoUltimo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000;	
	background-image: url(/refipass/img/boton_final.gif);	
	text-align: center;	
	width: 18px;
	height: 17px;
	border: 0px none;
}
.scrollerTable {
   font-family : Tahoma;
   font-size: 11px;
   color:  #006699;
    padding: 0;
    cellpading:0;
    cellspacing:0;   
    width: 600px;

}

.tablapaginacion {
    font-family : Tahoma; 
    font-size: 11px;
    color: #006699;
    padding: 0;
    cellpading:0;
    cellspacing:0;
    width: 600px;
    align:center;

}

.standardTable_Header {
    color: #006699;
    background-color: #EBEADB;
    padding: 0;
    cellpading:0px;
    cellspacing:0px;
    text-align: left;
    height:20;

}


.scroller {
    padding-left:150px;
}

.paginator {
            font-family : Tahoma;
            font-size: 11px;
}

.standardTable_Header {
    color: #006699;
    background-color: #EBEADB;
    padding: 0;
    cellpading:0px;
    cellspacing:0px;
    text-align: left;
    height:20;

}

.label9{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 13pt;
	color: #000;
	vertical-align: middle;
}

.linkExcell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 15pt;
	color: #003366;
	vertical-align: middle;	
}

.datoNegrita8 {
	font-family: Arial, Helvetica, sans-serif;
	color: #003366;
	font-weight: bold;
	font-size: 8pt;
}

.cpo8p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #000;
    text-align: left;	
}

.cpo8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
}


.cpo8SinFondo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;		
	text-transform: uppercase;
	vertical-align: top;
}

.botonPaginacion {
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 9px;
	border: 0px;
	background-image: url(/refipass/img/blanco.gif);	
}

.datoPaginacion {
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 10px;
}

.datoPaginacionBold {
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 10px;
	font-weight: bold;
	
}

.errorNegro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 10pt;
	color: black;
	text-align: left;
}


.cpo8Minuscula {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 13pt;	
	text-align: left;	
	background-color: #F3F5F7;	
}


.cpo7Negrita {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
}


.cpo7-7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
}


.cpo8-25 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
	width: 20%;
	
}

.cpo8-15 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 6pt;
	line-height: 12pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
	width: 15%;
	
}

.cpo8-25b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
	width: 25%;
	
}

.cpo8-Var {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
	width: 15%;
	
}

.cpo8-30b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
	width: 30%;
	
}

.cpo7 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000;
}



.cpo8-link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000;
}



.cpo8Left {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000;
	background-color: #F3F5F7;
	line-height: 13pt;
	text-align: left;
	text-transform: uppercase;
}

.cpo8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #000;
}

.cpo9 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 12pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	
}


.campoUpload {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #003366;
	border: 1px solid #A5C7F7;
	background-color: #E0ECFC;
	font-weight: normal;
	width: 550px;

}
.campo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #5D5D5D;
	border: 1px solid #5D5D5D;
	background-color: #fff;
	font-weight: normal;

}


.campoNoEditable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000;
	border: 0px solid #000000;
	font-weight: normal;
	text-transform: capitalize;
	background-color: #F3F5F7;	
}

.campoNoEditableSinFondo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	border: 0px solid #000000;
	font-weight: normal;
	text-transform: capitalize;
}

.campoSinFondoGrandeBold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #668535;
	border: 0px solid #000000;
	font-weight: bold;
	text-transform: capitalize;
}




.campoSinFondoGrande {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #668535;
	border: 0px solid #000000;
	font-weight: normal;
	text-transform: capitalize;
}

.campo10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	border: 0px solid #000000;
	font-weight: normal;	
}


.boton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	height: 20px;
	width: 117px;
	text-align: center;
	color: #fff;
	background-image: url(/refipass/img/boton_uno.png);
	border: 0px none;
	text-transform: uppercase;
	font-weight: normal;	
}

.botonSm {
  font-size: 7pt;
  background-color: #fff;
  color: #A8CE38;
  border: 1px solid #A8CE38;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 2px 10px;
}
.botonSm:hover {
  background-color: #A8CE38;
  color: #FFF;
}

.boton2 {	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	height: 20px;
	width: 312px;
	text-align: center;
	color: #fff;
	background-image: url(/refipass/img/boton_dos.png);
	border: 0px none;
	text-transform: uppercase;
	font-weight: normal;	
}



.botonV2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	height: 18px;
	text-align: center;
	color: #fff;
	background-color: #A8CE38;
	border: 1px solid #A8CE38;
	text-transform: uppercase;
	font-weight: normal;
	border-radius: 5px;
}
a{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #A7CB38;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

bordebeige {
	border: 1px solid #D6D7C8;
}
.bordebeige {
	border: 1px solid #b2bfd9;
}
.bordeblanco {
	border: 1px solid #fff;
}
.titulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #668535;
	text-transform: uppercase;
}

.subTituloConFondo {	
	height: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;	
	color: white;	
	letter-spacing: 1px;
	text-align: left;
	background-color: #A8CE38;
	
}
.datos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #004C98;
	background-color: #F3F5F7;
	text-transform: none;
}

.datosMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #004C98;	
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
}

.fila1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #F3F5F7;
	color: #000000;

}
.filasuperior {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFFFFF;
	background-color: #CACCB0;
	font-weight: bold;
}
.fila2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #FFFFFF;
	color: #000000;

}
.subtitulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #A8CE38;
}


.subtitulosFact {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;	
	color: #000000;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #D4E3FB;	
	text-align: center;	
}

.subtitulosCli {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #FFFFFF;
	text-align: left;
	line-height: 13pt;	
}


.subtitulosDocAplicados {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	color: #004C98;
	font-weight: normal;
	text-transform: capitalize;
	background-color: #E0ECFC ;
}
.subtitulos2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: #002b7f;
	background-color: #eeeeee;
	text-transform: uppercase;
}
.pagina {
	background-color: #eeeeee;
}

.cpo7b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-weight: bold;	
}


.cpo10b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;	
}


.fondo{
	background-color: #F3F5F7;
}


.titulosGrande {
	background-image: url(/refipass/img/fondo_top.gif);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #668535;
	text-transform: uppercase;
	text-align: left;
	padding-left: 10px;	
}

.cpo11-20 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	color: #003366;
	width: 20%
}

 

input.alinaerADerechoMonto{
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #5D5D5D;
	border: 1px solid #5D5D5D;
	background-color: #E7EBEF;
	font-weight: normal;
	
}


.campo8 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	color:  #668535;
	vertical-align: top;
}

.campo8SinNegrita {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;	
	text-align: left;	
	color:  #668535;
	vertical-align: top;
}

.fila4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #F3F5F7;
	color: #000000;

}



.cpo8Right {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000;
	background-color: #F3F5F7;
	line-height: 13pt;
	text-align: right;
	text-transform: uppercase;
}

.cpo8-Var10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 13pt;
	font-weight: bold;
	text-align: left;	
	background-color: #F3F5F7;
	text-transform: uppercase;
	width: 10%;
	
}